.header_container {
    position: relative;
    width: 300px;
    height: 90%;
    max-height: 1200px;
    min-height: 700px;
    background-color: lightblue;

    display: flex;
    flex-direction: column;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: center;

}

a {
    text-decoration: none;
}

.header_btn {
    background-color:rgb(108, 195, 221);
    width: 250px;
    height: 50px;

    text-align: center;
    line-height: 50px;

    color: black;

}

.board_todo {
    position: absolute;
    bottom: 330px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;

    textarea {
        width: 250px;
        height: 150px;
        font-size: 16px;
        resize: none;
      }
}