.mygroup {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  height: 85%;
}

.filter {
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
  height: 100px;
}

.input {
  border-radius: 5px 0px 0px 5px;
  margin-left: 20px;
  height: 50px;
  outline: 0;
  background: #f2f2f2;
  width: 200px;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
}

.btn {
  border-radius: 0px 5px 5px 0px;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  outline: 0px;
  border: 0px solid lightgray;
  background-color: black;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.search_number {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

@keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
  50% {
   background-position: 100% 50%;
  }
  100% {
   background-position: 0% 50%;
  }
}

.group_card_container {

  transition: 0.3s;
  cursor: pointer;

  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 20px;

  height: 200px;
  border: 1px solid lightgray;
  
  border-radius: 10px;
  width: 30%;

  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
  
  & > div {
    margin-left: 10px;
  }
}

.group_card_container:hover {
  z-index: 10;
  margin-top: 13px;
  box-shadow: 0px 20px 20px lightgray;
}

.group_list {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 85%;
  padding-top: 20px;
}

.title {
  margin-top: 10px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
.contents {
  height: 50px;
}
.writer {
  position: absolute;
  right: 10px;
  bottom: 5px;
}


.groupAllTitle {
  text-shadow: 5px 5px 5px rgba(211, 211, 211, 0.425);
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 25px;
}

.groupAllSearch {
  position: absolute;
  right: 10px;
  margin-top: 13px;
}