
.group_hide {
    transition: 0.5s;
    animation: slidein 1s forwards;
    animation-delay: 0.2s;
    scale: 0;
}

@keyframes slidein {
    from {
    }
  
    to {
        width: 0px;
        margin: 0px;
        border: 0px;
    }
  }