.member_container {
  width: 230px;
  height: 320px;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: absolute;
  top: 80px;
  right: 20px;
  z-index: 100;
}
.container_title {
  padding: 15px;
}
.title {
  font-size: 20px;
  text-align: center;
}
.close_btn {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: none;
  background: #fa818b;
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 14px;
}

.member_list {
  padding: 15px;
}
.member {
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
}
.member:last-child {
  margin-bottom: 0px;
}
