.add_container {
  width: 430px;
  height: 320px;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: absolute;
  top: 200px;
  margin-left: 230px;
  z-index: 100;
}
.close_btn {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: none;
  background: #ec8385;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.close_btn:hover {
  background: #e66063;
}

.title_wrap {
  text-align: center;
}
.title_wrap > p {
  margin-top: 30px;
  font-size: 20px;
}

.content1 {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.group_color {
  margin-top: 12px;
}
.content2 {
  text-align: center;
}
.content2 > textarea {
  width: 300px;
  height: 100px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 5px;
  resize: none;
  outline: none;
}
.ok_btn {
  text-align: right;
}
.ok_btn > button {
  width: 50px;
  height: 30px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #b7e4c7;
  cursor: pointer;
}
.ok_btn > button:hover {
  background: #95d5b2;
}

.group_block {
  z-index: 10;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0);
}
