.schedule_btns {
  display: flex;
  justify-content: space-between;
  padding: 0px 3px;
}
.prev_btn {
  height: 32px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background: none;
}
.prev_btn:hover {
  font-weight: bold;
}

.quit_btn {
  width: 120px;
  height: 32px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  border: none;
  background-color: #fff;
}
.quit_btn:hover {
  box-shadow: 0px 0px 0px 3px #ec8385;
}
.member_btn {
  width: 120px;
  height: 32px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
.member_btn:hover {
  box-shadow: 0px 0px 0px 3px #7fbb9a;
}
