.main_container {
  margin-left: auto;
  margin-right: auto;

  width: 1280px;
  height: 100vh;
  min-height: 800px;
}

.main_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;

  height: 100%;
  min-height: 700px;
}

.routes {
  position: relative;
  width: calc(100% - 300px);
  height: 90%;
  max-height: 1200px;
  min-height: 700px;
  background-color: #cce3de;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
