.main_container {
    margin-left: auto;
    margin-right: auto;
    
    width: 1280px;
    height: 100vh;
    min-height: 800px;
    background-color: lightgray;
}

.main_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;

    height: 100%;
    min-height: 700px;
}